<div class="modal-dialog modal-xl">
  <div class="modal-content">

    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12">




          <div class="inbox-widget slimscroll">
            <div>
              <div class="inbox-item">
                <div class="inbox-item-img"><img src="assets/images/users/avatar-1.jpg" class="rounded-circle" alt="">
                </div>
                <div class="user-profile">
                  devender verma
                </div>
              </div>
              <div class="main-icons">
                <mat-icon class="contact-icons">cake</mat-icon>:<span style="color: gray;">
                  05/09/2020</span>
              </div>
              <div class="main-icons">
                <mat-icon class="contact-icons">email</mat-icon>:<span style="color: gray;">
                  devender@gmail.com</span>
              </div>
              <div class="main-icons">
                <mat-icon class="contact-icons">phone</mat-icon>: <span style="color: gray;"> 434343434343</span>
              </div>
              <div class="main-icons">
                <mat-icon class="contact-icons">print</mat-icon>:<span style="color: gray;">343434343</span>
              </div>
            </div>

          </div>

        </div><!-- end col -->

        <div class="col-sm-12 col-xs-12 col-md-12">

          <div class="inbox-widget slimscroll">
            <div>

              <div class="main-icons">
                <mat-icon class="contact-icons">cake</mat-icon>:<span style="color: gray;">
                  05/09/2020</span>
              </div>
              <div class="main-icons">
                <mat-icon class="contact-icons">email</mat-icon>:<span style="color: gray;">
                  devender@gmail.com</span>
              </div>
              <div class="main-icons">
                <mat-icon class="contact-icons">phone</mat-icon>: <span style="color: gray;"> 434343434343</span>
              </div>
              <div class="main-icons">
                <mat-icon class="contact-icons">print</mat-icon>:<span style="color: gray;">343434343</span>
              </div>
            </div>


          </div>
        </div><!-- end col -->

      </div> <!-- end container-fluid -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary waves-effect waves-light mr-2" color="primary"
        (click)="CloseDialog()">
        Close
      </button>
    </div>
  </div>
</div>
<!-- /.modal -->
