    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

      <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

          <ul class="metismenu" id="side-menu">

            <li class="menu-title">Navigation</li>

            <li *ngIf="isAdmin">
              <a [routerLink]="['/admin/employees']" routerLinkActive="active" class="waves-effect"> <i
                  class="fas fa-users"></i>
                <span> Employees List </span></a>

            </li>

            <li *ngIf="isUser">
              <a [routerLink]="['/employee/createcustomer']" routerLinkActive="active" class="waves-effect"> <i
                  class="fas fa-user-tie"></i>
                <span> {{'sidebar.createCustomer'| translate}}</span></a>

            </li>
            <li *ngIf="isUser"> <a [routerLink]="['/employee/viewcustomer']" routerLinkActive="active"
                class="waves-effect">
                <i class="fas fa-users"></i>
                <span> {{'sidebar.viewCustomer'| translate}} </span></a>

            </li>
            <li *ngIf="isUser"><a [routerLink]="['/employee/myprofile']" routerLinkActive="active" class="waves-effect">
                <i class="fas fa-user"></i>
                <span>{{'sidebar.personalInfo'| translate}} </span></a>

            </li>

          </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

      </div>
      <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
