.statusCircleRed {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: red;
}
.statusCircleGreen {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: green;
}
.statusCircleOrange {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: orangered;
}
.statusCircleEmpty {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid grey;
}
.bd-example {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
