  <!-- Start Content-->
  <div class="container-fluid">

    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box" style="height: 20px !important;">


        </div>
      </div>
    </div>
    <!-- end page title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="dropdown float-right">
              <a href="form-validation.html#" class="dropdown-toggle card-drop" data-toggle="dropdown"
                aria-expanded="false">
                <i class="mdi mdi-dots-vertical"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="form-validation.html#" class="dropdown-item">Action</a></li>
                <li><a href="form-validation.html#" class="dropdown-item">Another action</a></li>
                <li><a href="form-validation.html#" class="dropdown-item">Something else here</a></li>
                <li class="dropdown-divider"></li>
                <li><a href="form-validation.html#" class="dropdown-item">Separated link</a></li>
              </ul>
            </div>

            <h4 class="header-title mb-4">Basic Form</h4>
            <div *ngIf="isLoading" class="bd-example">
              <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>

            </div>
            <div class="table-responsive">
              <table class="table mb-0 table-nowrap">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Street</th>
                    <th scope="col">House No.</th>
                    <th scope="col">Postal Code</th>
                    <th scope="col">City</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Fax</th>
                    <th scope="col">Notation</th>
                    <th scope="col">Created On</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of customerList; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.email}}</td>
                    <td>{{item.street}}</td>
                    <td>{{item.houseNumber}}</td>
                    <td>{{item.postalCode}}</td>
                    <td>{{item.city}}</td>
                    <td>{{item.owner}}</td>
                    <td>{{item.telephone}}</td>
                    <td>{{item.fax}}</td>

                    <td>{{item.notation}}</td>
                    <td>{{item.createdOn }}</td>
                    <td>
                      <div class="statusCircleEmpty"></div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="row float-right">

              <div class="col-sm-12">
                <nav aria-label="...">
                  <ul class="pagination">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>

          </div>
        </div>
      </div><!-- end col -->


    </div>

  </div>
